<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EDA Yearbook</title>
    <link href="https://fonts.googleapis.com/css?family=Spirax" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="data:,">
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="app">
      <header>
      <h1 class="title">REBL Chicks of EDA</h1>
      <a class="nav" href="/">Home</a>
      <a class="nav" href="/chicks/map">Find us!</a>

      </header>
     <!-- <input class="randomiser" type="submit" name="random" value="Randomise your Chick!"> -->
      {{{body}}}
    </div>
  </body>
</html>
